{{ form_start(form) }}
<div>
	{{ form_widget(form.images) }}
</div>
<div>
	{{ form_widget(form.name) }}
</div>
<div>
	{{ form_widget(form.description) }}
</div>
<div>
	{{ form_widget(form.size) }}
</div>
<div>
	{{ form_widget(form.color) }}
</div>
<div>
	{{ form_widget(form.price) }}
</div>
<div>
	{{ form_widget(form.qte_stock) }}
</div>
<div>
	{{ form_widget(form.category) }}
</div>

<p>
	<button class="btn btn-primary">{{ button_label|default('Enrégistrer') }}</button>
</p>

{{ form_end(form) }}
